<section class="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/home"
        ><img
          loading="lazy"
          decoding="async"
          src="/assets/images/logos/white_logo_transparent_background.png"
          alt="logo"
          width="340"
          height="126"
      /></a>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li><h2>Information</h2></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/portfoloio">Portfolio</a></li>
          <li><a href="/home">Shop</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
          <li><h2>Services</h2></li>
          <li>Fine Art Commissions</li>
          <li>Fashion Illustrations</li>
          <li>SEO Copywriting</li>
          <li>Custom Art Sketches</li>
        </ul>
        <ul>
          <li><h2>Contact</h2></li>
          <li>
            <a href="/contact">Charleville<br />Cork</a>
          </li>
          <a class="info" href="tel:0868250285">0868250285</a>
          <li><a href="mailto:ruthteresa96@gmail.com">Click to Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="credit">
  <span>Designed and Hand Coded by</span>
  <a href="https://IrelandWebDesigns.ie" target="_blank" rel="noopener"
    >IrelandWebDesigns</a
  >
  <span class="copyright">2022 - Present <br> All Rights Reserved</span>
</div>
