<section id="int-hero">
  <h1 id="home-h">About Us</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="cabinets"
      width="400"
      height="662"
    />
  </picture>
</section>
<section id = "pricing" class="pricing">
  <picture class="image-box">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/portfolio/pp2.JPG"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/portfolio/pp2.JPG"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/portfolio/pp2.JPG"
      alt="portfolio"

    />
  </picture>
  <div class="containerText">
    <div class="container">
      <div class="right">
        <div class="pricingText">
          <h1>
            <span>Ruth O'Connell</span>
          </h1>
          <p>
            Hi! My name is Ruth and I am an Irish fine artist, fashion illustrator and cultural content writer.  

            I have always been passionate about art, aesthetics and ideas. At the core of these interests is a curiosity about people – so it’s not surprising that I previously considered a career in psychology. This led to me to the University of Limerick (UL) where I graduated with a first-class honours BSc in Psychology in 2020. During the four years of my UL studies, I visited a lot of galleries both nationally and internationally, developed a keen interest in vintage fashion, read copious amounts about art and design and even illustrated a book in my final year. From these experiences, I came to understand that while I love psychology and will always harbour an interest in the area, a career in psychology was not my true calling.  

            This led me to pursue an MPhil in Art History at Trinity College Dublin (TCD) in September 2020. This was a wonderful and enriching experience which helped me to hone my art analysis skills and to incorporate my knowledge of psychology with my passion for art. My studies at TCD ignited what I believe will be a lifelong passion in writing and research, which can be seen on my blog where I write about art, culture, fashion and psychology.  

            Today, I am pursuing a freelance career as an artist, illustrator and writer. If you would like to stay up to date on new products and services as my business grows and evolves, then please my sign up to my email list. 

            Thank you for visiting! 
          </p>
          
        </div>
      </div>
      
    </div>
  </div>
 
</section>
<section id = "pricing" class="pricing" id = "fineart">
  <picture class="image-box-second">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/portfolio/Maria-Callas.JPG"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/portfolio/Maria-Callas.JPG"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/portfolio/Maria-Callas.JPG"
      alt="portfolio"

    />
  </picture>
  <div class="containerText">
    <div class="container">
      <div class="right">
        <div class="pricingText">
          <h1>
            <span>Fine Art </span>
          </h1>
          <p>
            As a contemporary fine artist, my work is characterised by a deep interest in psychology, literature, religion and mythology. My art has an ethereal element to it which encourages the viewer to reflect beyond their material selves and to delve deeper into areas such as human relationships and psychology, the symbolism embedded in our daily lives, our landscapes, literature and the myths, legends and histories passed down to us. I work in a variety of mediums such as oil paint, watercolour and graphite.  

            My work can be purchased as high quality, archival prints. These art prints are produced to last a lifetime and capture both vivid and subtle colours in a beautiful manner that accurately reflects the original work. I am also open to both personal and institutional commissions. If you are interested in buying a print or requesting a commission, please contact me <a href="/contact">here</a>. 
          </p>
          
        </div>
      </div>
      
    </div>
  </div>
 
</section>
<section id = "pricing" class="pricing" id = "fashion">
  <picture class="image-box-second">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/portfolio/Paris-Stroll.JPG"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/portfolio/Paris-Stroll.JPG"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/portfolio/Paris-Stroll.JPG"
      alt="portfolio"

    />
  </picture>
  <div class="containerText">
    <div class="container">
      <div class="right">
        <div class="pricingText">
          <h1>
            <span>Fashion Illustrations </span>
          </h1>
          <p>
            Using watercolours, ink and Prismacolor pencils, I imagine vibrant, feminine clothing and items which express a playful combination of whimsy, vintage fashion and haute couture, intended to immerse the viewer in a chic and colourful world.  While many contemporary fashion illustrators take inspiration from celebrities and catwalk trends, my illustrations take inspiration from vintage fashion, literature and history. The result is a unique and modern aesthetic that is distinctively feminine, romantic and fantastical.  

            I sell my work on Society6, Zazzle, and Redbubble where it can be purchased simply as fine art prints or adorning a variety of products that bring beauty and inspiration to your daily life.  
          </p>
          
        </div>
      </div>
      
    </div>
  </div>
 
</section>

