<section id="int-hero">
  <h1 id="home-h">About Us</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="cabinets"
      width="400"
      height="662"
    />
  </picture>
</section>
<section id = "pricing" class="pricing">
  <picture class="image-box">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/portfolio/pp2.JPG"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/portfolio/pp2.JPG"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/portfolio/pp2.JPG"
      alt="cabinets"
      width="400"
      height="662"
    />
  </picture>
  <div class="container">
    <div class="right">
      <div class="pricingText">
        <h1>
          <span>Ruth O'Connell</span>
        </h1>
        <p>
          I am a professional Irish artist and fashion illustrator.<br><br>
          As a contemporary fine artist, my work is characterised by a deep interest in psychology,
          literature, religion and mythology. My art has an ethereal element to it which encourages the
          viewer to reflect beyond their material selves and to delve deeper into areas such as human
          relationships and psychology, the symbolism embedded in our daily lives, our landscapes,
          literature and the myths, legends and histories passed down to us. I work in a variety of
          mediums such as oil paint, watercolour and graphite.<br><br>
          In contrast, my fashion illustrations are far more playful in nature. Using watercolours, ink and
          Prismacolor pencils, I imagine vibrant, feminine clothing and items which express a playful
          combination of whimsy, vintage fashion and haute couture, intended to immerse the viewer in a
          fantastical and colourful world.
        </p>
      </div>
    </div>
  </div>
</section>
