<section id="hero">
  <div class="hero-content">
    <div class="heroText">
      <h1 id="home-h" class="home-h">
        <span>Art</span> Prints And Originals.<br />
        <span>Art</span> Commissions <br />
        <span>Art</span> And Culture Copywriting.
      </h1>
      <p>
        Personal and Institutional fine art commisions.<br />
        SEO Keyword Copywriting for Web Design Agencys and Business Owners.
        <br />
        Custom Art Prints.
      </p>
      <a class="button-6" href="/contact.html" target="_blank" rel="noopener">
        Get In Touch
      </a>
    </div>
  </div>
</section>
<app-services></app-services>
<app-about></app-about>
