@media only screen and (min-width: 0em) {
  picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 130%;
    width: 100%;
    z-index: -2;
    filter: brightness(40%);
    span{
        position:absolute;
        height: 100%;
        width: 100%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}
  #hero {
    height: auto;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden ;
    padding-top: 6rem;
    .hero-content {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-left: 0;
    }
    .heroText {
      width: 100%;
      p {
        font-size: 0.7rem;
        margin-bottom: 7rem;
        font-family: poppins;
      }
      h1,
      p {
        color: white;
        margin-bottom: 2rem;
        font-family: poppins-bold;
      }
      h1 {
        font-size: 1.2rem;
      }
      span {
        color: lightblue;
        margin-right: 0.25em;
        font-style: italic;
      }
    }
  }
  h1::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.125em;
    width: 1.515625em;
    background: var(--primary);
    opacity: 1;
    margin-top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 360px) {
}
@media only screen and (min-width: 1024px) {
  .hero-content {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-top: 1rem;
    .heroText {
      h1 {
        font-size: 2rem !important;
      }
    }
  }
  h1::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.125em;
    width: 1.515625em;
    background: var(--primary);
    opacity: 1;
    margin-top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
