<section id="sidebyside" class="sidebyside">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Trusted home builders for (main city) for over 20 years
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        debitis dolor consectetur dolorem inventore modi tenetur ex odit, amet
        beatae ad, doloribus tempora quae ab nulla minus temporibus at
        veritatis!
      </p>
      <p>
        <strong>A list if you need it:</strong>
      </p>
      <ul>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span
            >List item about something, this one is going to two lines so you
            can see what it looks like</span
          >
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>List item about something</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>List item about something</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>List item about something</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>List item about something</span>
        </li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        saepe laborum nam consequuntur porro inventore odio? Quod autem alias
        ratione cum reiciendis qui quaerat, sequi voluptatum voluptatibus, iusto
        itaque sed ullam. Quis, maiores corrupti. Rerum quo laudantium vero
        magnam tempora!
      </p>
      <a class="button-6" href="/about.html">More About Us</a>
    </div>
    <picture class="image-box">
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/cabinets2-m.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/cabinets2.jpg"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/images/cabinets2.jpg"
        alt="cabinets"
        width="400"
        height="662"
      />
    </picture>
  </div>
</section>
<section id="portfolio">
  <div id="portfolio2" class="container">
    <h2><span>OUR </span> PORTFOLIO</h2>
    <div aria-hidden="true" class="graphic-group">
      <div class="dash"></div>
      <img
        src="https://d33wubrfki0l68.cloudfront.net/e9d9895c8751f62725f1b49e32d0f3f62682d195/c6364/images/portfolio.svg"
        alt=""
      />
      <div class="dash"></div>
    </div>
    <div class="example-group">
      <div class="example">
        <img
          srcset="
            https://d33wubrfki0l68.cloudfront.net/fb9789a1ae59380d00ff66bcd3034140a5057c85/19128/images/valley-low-mockup-replace-400w.png 480w
          "
          sizes="(max-width: 600px) 480px, 800px"
          src="https://d33wubrfki0l68.cloudfront.net/bd4c19c992b4ea21e2965e71d20af170675aa40f/eac9b/images/valley-low-mockup.png"
          width="300px"
          alt="sew strong website mock up"
        />
        <h3>Valley Construction</h3>
        <h4>Seattle, WA</h4>
        <p>
          Valley Construction Supply is the largest privately held construction
          supply company in Seattle, WA for over 35 years.
        </p>
        <button
          class="button-6"
          onclick="location.href='https://www.valleyconstructionsupply.com/'"
          type="button"
        >
          VISIT VALLEY
        </button>
      </div>
      <div class="example">
        <img
          srcset="
            https://d33wubrfki0l68.cloudfront.net/fb9789a1ae59380d00ff66bcd3034140a5057c85/19128/images/valley-low-mockup-replace-400w.png 480w
          "
          sizes="(max-width: 600px) 480px, 800px"
          src="https://d33wubrfki0l68.cloudfront.net/bd4c19c992b4ea21e2965e71d20af170675aa40f/eac9b/images/valley-low-mockup.png"
          width="300px"
          alt="sew strong website mock up"
        />
        <h3>Valley Construction</h3>
        <h4>Seattle, WA</h4>
        <p>
          Valley Construction Supply is the largest privately held construction
          supply company in Seattle, WA for over 35 years.
        </p>
        <button
          class="button-6"
          onclick="location.href='https://www.valleyconstructionsupply.com/'"
          type="button"
        >
          VISIT VALLEY
        </button>
      </div>
      <div class="example">
        <img
          srcset="
            https://d33wubrfki0l68.cloudfront.net/fb9789a1ae59380d00ff66bcd3034140a5057c85/19128/images/valley-low-mockup-replace-400w.png 480w
          "
          sizes="(max-width: 600px) 480px, 800px"
          src="https://d33wubrfki0l68.cloudfront.net/bd4c19c992b4ea21e2965e71d20af170675aa40f/eac9b/images/valley-low-mockup.png"
          width="300px"
          alt="sew strong website mock up"
        />
        <h3>Valley Construction</h3>
        <h4>Seattle, WA</h4>
        <p>
          Valley Construction Supply is the largest privately held construction
          supply company in Seattle, WA for over 35 years.
        </p>
        <button
          class="button-6"
          onclick="location.href='https://www.valleyconstructionsupply.com/'"
          type="button"
        >
          VISIT VALLEY
        </button>
      </div>
    </div>
  </div>
</section>
