<section id="sidebyside" class="sidebyside">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Professional Artist And Fashion Illustrator
      </h2>
      <p>
        My name is Ruth and I am an Irish artist with a Bsc in pyschology and MA
        in Art History. As a contemporary fine artist, my work is characterised
        by a deep interest in psychology, literature, religion and mythology.
        <a href="/about-us">Learn More</a>
        <!-- My art has an etheral element to it which encouragesnthe viewer to
        reflect beyond their material selves and delve deeper into areas such as
        human relationships and psychology, the symbolism embedded in our daily
        lives, our landscapes, literature and myths, legends and histories
        passed down to us. I work with a variety of mediums such as oil paint,
        watercolor and graphite. -->
      </p>
      <div class="transitionArrow">
        <img src="/assets/images/arrow.png">
      </div>
    </div>
    <picture class="image-box">
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/cabinets2-m.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/cabinets2.jpg"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/images/cabinets2.jpg"
        alt="cabinets"
        width="400"
        height="662"
      />
    </picture>
  </div>
</section>
<section id="portfolio">
  <div id="portfolio2" class="container">
    <h2><span>MY </span> PORTFOLIO</h2>
    <div aria-hidden="true" class="graphic-group">
      <div class="dash"></div>
      <img
        src="https://d33wubrfki0l68.cloudfront.net/e9d9895c8751f62725f1b49e32d0f3f62682d195/c6364/images/portfolio.svg"
        alt=""
      />
      <div class="dash"></div>
    </div>
    <div class="example-group">
      <div class="example">
        <img
          srcset="
            https://d33wubrfki0l68.cloudfront.net/fb9789a1ae59380d00ff66bcd3034140a5057c85/19128/images/valley-low-mockup-replace-400w.png 480w
          "
          sizes="(max-width: 600px) 480px, 800px"
          src="https://d33wubrfki0l68.cloudfront.net/bd4c19c992b4ea21e2965e71d20af170675aa40f/eac9b/images/valley-low-mockup.png"
          width="300px"
          alt="sew strong website mock up"
        />
        <h3>Art Portfolio</h3>
        <p>
          View some of my work to date. Doodles, Oil Paintings and sketches.
        </p>
        <button
          class="button-6"
          onclick="location.href='https://www.valleyconstructionsupply.com/'"
          type="button"
        >
          VISIT PORTFOLIO
        </button>
      </div>
    </div>
  </div>
</section>
