<section id="int-hero">
  <h1 id="home-h">Portfoloio</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="cabinets"
      width="400"
      height="662"
    />
  </picture>
</section>
<section class="portfolio">
  <div class="portContainer">
    <div class="title">
      <h1>
        FINE ART
      </h1>
    </div>
    <div class="pictures">
      <picture class="image-box">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/portfolio/angel.JPG"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/portfolio/angel.JPG"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/portfolio/angel.JPG"
          alt="angel"
          height="300"
        />
      </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/WhenYouAreOld.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/WhenYouAreOld.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/WhenYouAreOld.JPG"
            alt="WhenYouAreOld"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Maria-Callas.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Maria-Callas.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Maria-Callas.JPG"
            alt="Maria-Callas"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Maria-Callas-Close-I.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Maria-Callas-Close-I.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Maria-Callas-Close-I.JPG"
            alt="Maria-Callas-Close"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Maria-Callas-Close-II.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Maria-Callas-Close-II.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Maria-Callas-Close-II.JPG"
            alt="Maria-Callas-Close"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Dissolving-Margins.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Dissolving-Margins.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Dissolving-Margins.JPG"
            alt="Dissolving-Margins"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Dissolving-Margins-Close-I.jpeg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Dissolving-Margins-Close-I.jpeg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Dissolving-Margins-Close-I.jpeg"
            alt="Dissolving-Margins-Close"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Dissolving-Margins-Close-II.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Dissolving-Margins-Close-II.jpg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Dissolving-Margins-Close-II.jpg"
            alt="Dissolving-Margins-Close"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/The-Graves-Family.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/The-Graves-Family.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/The-Graves-Family.JPG"
            alt="The-Graves-Family"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/The-Graves-Family-Close-II.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/The-Graves-Family-Close-II.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/The-Graves-Family-Close-II.JPG"
            alt="The-Graves-Family-Close"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/The-Graves-Family-Close-III.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/The-Graves-Family-Close-III.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/The-Graves-Family-Close-III.JPG"
            alt="The-Graves-Family-Close"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Irish-Summer.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Irish-Summer.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Irish-Summer.JPG"
            alt="Irish-Summer"
            height="300"
          />
        </picture>
  </div>
  </div>
  <div class="portContainer">
    <div class="title">
      <h1>
        Fashion Illustrations
      </h1>
    </div>
    <div class="pictures">
      <picture class="image-box">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/portfolio/Accessorize.JPG"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/portfolio/Accessorize.JPG"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/portfolio/Accessorize.JPG"
          alt="Accessorize"
          height="300"
        />
      </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Ballerina.jpeg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Ballerina.jpeg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Ballerina.jpeg"
            alt="Ballerina"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Celtic-Beauty.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Celtic-Beauty.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Celtic-Beauty.JPG"
            alt="Celtic-Beauty"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Holly.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Holly.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Holly.JPG"
            alt="Holly"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/La-Parapluie-Vert.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/La-Parapluie-Vert.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/La-Parapluie-Vert.JPG"
            alt="La-Parapluie-Vert"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Like-Mother-Like-Daughter.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Like-Mother-Like-Daughter.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Like-Mother-Like-Daughter.JPG"
            alt="Like-Mother-Like-Daughter"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Madame-Vogue.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Madame-Vogue.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Madame-Vogue.JPG"
            alt="Madame-Vogue"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Paris-Cheers.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Paris-Cheers.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Paris-Cheers.JPG"
            alt="Paris-Cheers"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Paris-Stroll.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Paris-Stroll.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Paris-Stroll.JPG"
            alt="Paris-Stroll"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Primavera.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Primavera.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Primavera.JPG"
            alt="Primavera"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Rebecca.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Rebecca.jpg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Rebecca.jpg"
            alt="cabinets"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Rebecca.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Rebecca.jpg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Rebecca.jpg"
            alt="Rebecca"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Regency-Rose.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Regency-Rose.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Regency-Rose.JPG"
            alt="Regency-Rose"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Tiffanys-Fall.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Tiffanys-Fall.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Tiffanys-Fall.JPG"
            alt="Tiffanys-Fall"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Tiffanys-Peacock.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Tiffanys-Peacock.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Tiffanys-Peacock.JPG"
            alt="Tiffanys-Peacock"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Springtime-in-Dublin.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Springtime-in-Dublin.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Springtime-in-Dublin.JPG"
            alt="Springtime-in-Dublin"
            height="300"
          />
        </picture>
        <picture class="image-box">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/Dressing-Room.JPG"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/Dressing-Room.JPG"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/portfolio/Dressing-Room.JPG"
            alt="Dressing-Room"
            height="300"
          />
        </picture>
  </div>
  </div>
</section>
