<section class="services">
  <div class="serviceKeywords">
    <div class="serviceCard">
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/art.svg"
            alt="appliance"
            width="68"
            height="68"
          />
        </picture>
        <h2>Fine Art Pieces</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
        <a class="button-6" href="/about-us#fineart">Read More</a>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/fashion.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Fashion Illustrations</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
        <a class="button-6" href="/about-us#fashion">Read More</a>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/book.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>SEO Copywriting</h2>
        <p>
          I write keyword researched articles designed to produce a low bounce
          rate, high Dwell Time and more backlinks.
        </p>
        <a class="button-6" href="/about-us#copywriting">Read More</a>
      </div>
    </div>
  </div>
</section>
