<section class="services">
  <div class="serviceKeywords">
    <div class="serviceCard">
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/art.svg"
            alt="appliance"
            width="68"
            height="68"
          />
        </picture>
        <h2>Fine Art Pieces</h2>
        <p>
          I work in a variety of mediums such as oil paint, watercolour and graphite.
        </p>
        <a class="button-6" href="/about-us#fineart">Read More</a>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/fashion.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Fashion Illustrations</h2>
        <p>
          My Illustrations have a unique and modern aesthetic that is distinctively feminine, romantic and fantastical.
        </p>
        <a class="button-6" href="/about-us#fashion">Read More</a>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/book.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Merchandise</h2>
        <p>
          Unique Illustrations on a variety of different Merchandise.
        </p>
        <a class="button-6" href="/about-us#copywriting">Read More</a>
      </div>
    </div>
  </div>
</section>
