<section class="call-to-action" id="cta">
  <div class="container">
    <h2 class="title">
      Get The Perfect Gift Today
    </h2>
    <p>
      Say something catchy, informative, and encouraging to click the button to
      go to the contact page. I like to add these to the bottom of all pages.
    </p>
    <a href="/contact.html" class="button-6">Get an Estimate Now</a>
  </div>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/portfolio/ctaSmall.png"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/cta.PNG" />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/portfolio/cta.PNG"
      alt="kitchen cabinets"
      width="1920"
      height="1280"
    />
  </picture>
</section>
