<section id="hero">
  <div class="hero-content">
    <div class="heroText">
      <h1 id="home-h" class="home-h">
        Main Keywords of What They Do, And Location If Needed
      </h1>
      <p>
        Talk about the other services they do with keywords and locations where
        they serve. Try to make this 2-3 lines tall.
      </p>
      <a class="button-6" href="/contact.html" target="_blank" rel="noopener">
        Main Call To Action
      </a>
    </div>
  </div>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.jpg"
      alt="new home"
    />
  </picture>
</section>
<app-services></app-services>
<app-about></app-about>
